.grid-dropdown {
  display: grid;
  grid-template-columns: repeat(5, 20px);
  grid-gap: 200px;
}

.grid-option {
  padding: 20px;
  background-color: lightgray;
  cursor: pointer;
  text-align: center;
  color: 'black';
  width: 1200px;
  height: 80px;
}

.grid-option.selected {
  background-color: lightblue;
  color: 'black';
}
