.ml-dropdown-container {
  margin-left: 30px;
}

.classification-report {
  padding: 1px;
  color: #222222;
  margin-bottom: 20px; 
  margin-left: 90px;
  margin-top: 50px;
  width: 1000px;
}
.ml-models{
  margin-right: 0px;
}
.text{
  font-size: 25px;
  font-weight: bold;
  margin-left:160px;
  margin-top: 10px;
}
.App.night .text {
  color: white; 
  font-size: 25px;
  font-weight: bold;
}

.report-content {
  max-height:700px;
  overflow-y: scroll;
}
.classification-table {
  width: 100%;
  border-collapse: collapse;
}

.classification-table th,
.classification-table td {
  padding: 8px;
  text-align: left;
  border: 1px solid #ccc;
  position: relative;
}

.classification-table th {
  background-color: #f0f0f0;
  font-weight: bold;
}

.classification-table td:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 0;
  right: -10px;
  bottom: 0;
  width: 1px;
  background-color: #ccc;
}

.classification-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.classification-table tbody tr:hover {
  background-color: #e6e6e6;
}


.report-content table th,
.report-content table td {
  text-align: center;
}
.report-tile {
  display: inline-block;
  width: 200px;
  margin-right: 20px;
  padding: 10px;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.report-tile-title {
  font-weight: bold;
  margin-bottom: 5px;
}

.report-tile-value {
  font-size: 18px;
}

