.progress-bar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.progress-bar {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100px;
  width: 900px;
  padding: 5px;
  margin-left: 10px;
}

.circular-progress-bar {
  position: relative;
  width: 200px;
  height: 200px;
  margin-left: 20px;
  margin-top: 80px;
}

.step {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 1000px;
  border: 1px solid ;
  color: black;
  background-color: lightgray;
  border-radius: 5%;
  margin-left: 60px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}



.step.active {
  background-color: #AFD88D; /* Remove background color */
  border-width: 4px; /* Increase border width */
  border-color: #AFD88D; /* Set border color */
}

.next-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 100px;
  height: 50px;
  padding: 10px 20px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.next-button:hover {
  background-color: #0056b3;
}

.step-label {
  font-size: 9px;
  text-align: center;
}

.circular-progress-bar {
  position: absolute;
  right: 90px;
  top: 15px;
  width: 200px;
  height: 200px;
  margin-left: 20px;
}

.progressbar__svg {
  width: 80%;
  height: 80%;
}

.progressbar__svg-circle {
  stroke-width: 10px;
  fill: none;
  stroke: #ccc;
}

.progressbar__svg-circle-progress {
  stroke-width: 10;
  fill: none;
  stroke: #AFD88D;
  stroke-dasharray: 0 440;
  transition: stroke-dasharray 0.3s ease;
  stroke-dasharray: 0, 628;
}

.progressbar__text {
  position: absolute;
  align-items: center;
  top: 40%;
  left: 40%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  color: #ff7f78;
  font-weight: bold;
}

.App.night .progressbar__text {
  color: white;
}

.completion-status {
  color: #ff7f78;
  font-weight: bold;
  margin-top: 0px;
  font-size: 16px;
}

.horizontal-line {
  border-bottom: 2px solid lightblue;
  width: 100%;
  margin-top: 30px;
}

/* Media Queries */

@media (max-width: 1400px) {
  .progress-bar {
    width: 100%;
    margin-left: 5%;
  }

  .circular-progress-bar {
    display: none; /* Hide the circular progress bar */
  }

  .step {
    width: 70px;
    height: 50px;
    margin-left: 30px;
  }

  .next-button {
    bottom: 10px; /* Adjusted position */
    right: 10px; /* Adjusted position */
  }

  .progressbar__svg {
    width: 70%; /* Adjusted size */
    height: 70%; /* Adjusted size */
  }

  .progressbar__text {
    top: 50%; /* Adjusted position */
    left: 50%; /* Adjusted position */
    font-size: 12px; /* Adjusted font size */
  }

  .completion-status {
    font-size: 14px; /* Adjusted font size */
  }
}

/* For screens with a maximum width of 768px */
@media (max-width: 790px) {
  .progress-bar {
    width: 90%; /* Adjusted width */
    margin-left: 5%; /* Adjusted margin */
  }

  .circular-progress-bar {
    display: none; /* Hide the circular progress bar */
  }

  .step {
    width: 50px; /* Adjusted size */
    height: 30px; /* Adjusted size */
    margin-left: 30px; /* Adjusted margin */
  }

  .next-button {
    bottom: 10px; /* Adjusted position */
    right: 10px; /* Adjusted position */
  }

  .progressbar__svg {
    width: 70%; /* Adjusted size */
    height: 70%; /* Adjusted size */
  }

  .progressbar__text {
    top: 50%; /* Adjusted position */
    left: 50%; /* Adjusted position */
    font-size: 12px; /* Adjusted font size */
  }

  .completion-status {
    font-size: 14px; /* Adjusted font size */
  }
}

/* For screens with a maximum width of 480px */
@media (max-width: 480px) {
  .circular-progress-bar {
    display: none; /* Hide the circular progress bar */
  }
  .progress-bar {
    width: 90%; /* Adjusted width */
    margin-left: 5%; /* Adjusted margin */
  }


  .step {
    width: 40px; /* Adjusted size */
    height: 20px; /* Adjusted size */
    margin-left: 20px; /* Adjusted margin */
  }

  .next-button {
    bottom: 10px; /* Adjusted position */
    right: 10px; /* Adjusted position */
  }

  .progressbar__svg {
    width: 60%;
    height: 60%;
  }

  .progressbar__text {
    top: 50%;
    left: 50%;
    font-size: 10px;
  }

  .completion-status {
    font-size: 12px;
  }
}
